<div class="content"><div id="disqus_thread"></div></div>

<script>
    var disqus_config = function () {
        this.page.url = window.location.href;  // Dynamically set the URL
        this.page.identifier = document.querySelector("meta[name='page-id']").content; // Use a meta tag or dynamic value
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://tpobn-hermitage.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
